/********************
YOUR STYLES
*******************/

body {
    background: black;
    color: white;
}

a:link, a:visited {
    color: aqua;
}

section {
    width: 25%;
    padding: 10px 0px 0px 10px;
}



/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}